<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<h2><a href="http://karthikravikumar.github.io">Karthik Ravikumar</a></h2>
		<header class="info">
				<ul>
					<li><a href="mailto:karthikravukumar93@gmail.com">email</a> &nbsp</li>
					<li><a href="https://github.com/KarthikRavikumar">git</a> &nbsp</li>
					<li><a href="https://www.linkedin.com/in/karthikravikumar11/">linkedin</a> &nbsp</li>
					<li><a href="https://drive.google.com/file/d/1t1aWODCIa-jld2MxR9I4HQ4FDqhTyb6i/view?usp=sharing">cv</a> &nbsp</li>
				</ul>
			<header>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Research">Research</a></li>
				<li> <a href="/Projects"> Projects </a> </li>
        		<!--<li><a href="/projects">Projects</li !-->
	    		</ul>
			</nav>
			</br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</br>

		</body>
	</html>
